/* Conteneur principal */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #cacaca;
    /* background-image: url('../Assets/19276.jpg');  */
    background-size: cover; /* Ajouté pour que l'image couvre tout le conteneur */
    background-position: center; /* Ajouté pour centrer l'image */
    padding: 20px;
}


.form-box {
    display: flex;
    width: 70%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-left {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-right {
    background: url("../Assets/fablab.jpg");
    /* background-color: #0056b3; */
    width: 50%;
    height: 100%; /* ou la hauteur que tu veux */
    overflow: hidden;
}

.form-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-prefix {
    background: #ddd;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form-submit {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.form-submit:hover {
    background: #0056b3;
}

/* Responsive */
@media screen and (min-width: 320px) and (max-width: 993px) {
    .form-right {
        display: none; /* Cacher l'image ou la partie droite */
    }
    .form-left {
        width: 100%; /* Faire en sorte que la partie gauche prenne toute la largeur */
    }
    .form-container{
        width: 100%;
        /* margin: 0 auto; */
    }
}


/* @media screen and (max-width: 767px) {
    .form-box {
        width: 90%;
    }
} */
